@import url('https://fonts.googleapis.com/css?family=Marvel');

body {
	font-family: 'Marvel', sans-serif;
	background: #353535;
	margin: 0;
} 
img {
	margin-bottom: 5px;
	width: 230px;
	border-radius: 7px;
}
h1 {
	color: white;
	text-align: center;
	margin: 0;
	padding-top: 5px;
}
h3, p {
	margin: 0;
}

.nav {
	background: crimson;
	height: 50px;
}
.grid {
	margin: 0 auto;
	clear: both;
} 
.grid-item {
	/*float: right;*/
	border: 1px solid lightgray;
	border-radius: 10px;
	width: 230px;
	margin: 10px;
	padding: 7px;
	background: #F0F0F0
}